<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="98ee7a7f-53af-4f7c-b79b-1ff386034bba" Publisher="CN=DanielWinther" Version="1.0.0.0" />
  <Properties>
    <DisplayName>1aarsproeve</DisplayName>
    <PublisherDisplayName>DanielWinther</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="_1aarsproeve.App">
      <m2:VisualElements DisplayName="1aarsproeve" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="1aarsproeve" ForegroundText="light" BackgroundColor="#b81323">
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#b81323" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>